
@import "./../../node_modules/bootstrap/scss/bootstrap.scss"
nav 
    background-color: #3c3c4b
    
.navbar-brand
    margin-left: 11em 

.navbar-nav
    margin-left: 16.25em
    a
        font-size: 0.75em
.nav-item 
    
#word
    padding-left: 2.65em

.partie1
    background: #e6e6dd

